
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Poiret+One');

font-family: 'Josefin Sans', sans-serif;
font-family: 'Poiret One', cursive;


* {
 box-sizing: border-box;
 }
a {
  text-decoration: none;
}
body {
	margin: auto;
	font-size: 100%;
	line-height: 1.6;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: capitalize;
	background: #eee;
}
.text-align {
	width: 20px;
	height: 5px;
	background: tomato;
	margin: auto;
}
img {
	max-width: 100%
}
/******text decorations of varoius texts************/ 
/******************************************************/
.slide h2,.slide h3,.slide h4 {
	margin-bottom: 0;
}
.slide h2 {
   font-size: 3em;
   color: tomato;
   
}
.slide h3{
   font-size: 2.3em;
}
.slide h4 {
   font-size: 1.5em;
}

.primary h3 {
	font-size: 1.9em;
	padding: 10px 0;
}

.banner-about h2,.contact-details h2,.map-wrapper h2,.form h2 {
      font-size: 1.9em;
  }
  .contact-details li,.map-wrapper p,.form p {
          font-size: 1.4em;
  }
  .contact-details li {
  	list-style: none;
  	
  }
  
  .banner-about-sub {
  	  font-size: 1.2em;
  }


 .clearfix::after {
    content: "";
    display: table;
    clear: both;
 }
 .logo {
 	color: #fff;
 }
/*navigation*/
  nav a {
  	  color: #333;
  	  font-size: 1.3em;
  	  color: white;

  }
   nav a:hover {
   	  color: lightblue;
   }
  nav li {
	background: #444;
	padding: 10px 0;
	margin-bottom: 5px ;
	text-align: center;

}

   /*slides */
.slide-1 {
   background: url("../img/3.1.jpg") no-repeat;
}
.slide-2 {
   background: url("../img/3.2.jpg") no-repeat;
}
.slide-3 {
   background: url("../img/3.3.jpg") no-repeat;
}
.slide {
	/*width: 100vw;*/
	background-position: center;
	background-size: cover;
	height: 550px;
}
.slide img {
   width: 100%;
}

/*slide background opacity */
 
 .slide-2-back,.slide-1-back,.slide-3-back {
 	  width: 100%;
 	  height: 100%;
 	  background: rgba(0,0,0,.7);
 }
/*.slide {
	position: relative;
}*/
.slide-text {
	width: 60%;
	padding-top: 40px;
	margin: auto;
}
.slide-text h2,.slide-text h3,.slide-text h4 {
	 margin: 0;
	 text-shadow: 0px 1px 1px 1px white; 
}
.slide-text h3,.slide-text h4 {
	color: white;
}
/*logo*/
.logo {
	
	color: #444;
}
.logo span {
	 color: tomato;
}
.active a {
	color: tomato;
}
/*indexpage*/
.sub-primary {
	text-align: center;
	background: #eee;


}
/*containers-header-and body-wrapper padding*/
.wrapper,.head-wrapper {
	padding: 0 10px;
}
/*images*/
.img-secondary {
	width: 100%;
}


/*rounded corner*/
  .sub-primary,.btn-read {
  	border-radius: 10px;
  	padding: 10px;
  	margin-bottom: 20px;
  }
  .primary {
  	  margin-bottom: 10px;
   }
   
  .sub-secondary {
  	   background: #eee;
  	   box-shadow: 0 0 .7px .5px;
  	   padding-bottom: 10px;

  }
  .sub-secondary p {
  	  padding-right: 10px;
  	  padding-left: 10px;
  }

  /*footer*/
  footer {
  	text-align: center;
  }
  /*about page*/

  .banner-about-sub {
  	  width: 90%;
  	  margin: auto;
  }
  .banner-about {
  	text-align: center;
  	background: tomato;
  	padding: 10px 0;
  }
  
  hr {
  	background: red;
  	width: 50px;
  }

  button.btn-read {
  	background: darkred;
  	padding: 10px;
  	border: none;
  	transition: 1s;
   }

  button.btn-read:hover {
      background: black;
      color: white;
  }
.col img {
	 border-radius: 100%;
	 display: block
	 width: 40px;
	 border: 2px solid tomato;
	 margin: auto;
}
.container {
	background: #444;
	text-align: center;
	padding: 20px 10px;
}
.col h3 {
	width: 100px;
	border: 1px solid tomato;
	padding: 10px;
	margin: 10px auto;
	color: white;
}
.col p {
	color: white;
	font-size: 1.2em;

}
.col-1 p {
	padding-right: 20px;
}
.col-3 p {
	padding-left: 20px;
}
nav ul {
 list-style: none;
}
/*contact page*/
  input,textarea {
  	width: 100%;
  	padding: 15px 0;
  	margin-bottom: 10px;
    outline: none;
    border: 1px solid gray;
  }
  input:focus,textarea:focus {
      border: 1px solid tomato;
      /*box-shadow: 0 0 0 .5px gray;*/
  } 
 button {
 	width: 200px;
 	padding: 10px 0;
 	background: tomato;
 	border: none;
 	cursor: pointer;
}

 .map-wrapper {
 	width: 100%;
 	height: 300px;
 }
 #map {
 	height: 100%;
    margin: 0;

    }

 .about-primary h2,.about-secondary h2{
          border: 1px solid gray;
          text-align: center;
       }
nav {
display: none; /*for drop down*/
  }

select {
	width: 98%;
	margin-left: 5px;
	padding: 10px 0;
	margin-bottom: 10px;
}
ma
.form h2,
.map-wrapper h2 {
	border-left: 3px solid tomato;
	padding-left: 10px;
}

@media (min-width: 768px) {
	.line {
		background: tomato;
		width: 20px;
		height: 5px;
		margin: auto;
	}

    .contact-details h2 {color: white;}
    .contact-details li {
  	   color: #eee;
  	   font-size: 1.2em;
  }

  
    nav {
   display: block; /*for drop down*/
     }
    select {
    	display: none;
      }
	.banner-about-sub {
  	  width: 70%;
  	  }
  	  .contact-wrapper {
  	  	background: white;
  	  	padding-bottom: 150px;

  	  }
 
   /*about page */
   .about-primary,
   .about-secondary {
  	  width: 46%;
  }
  .about-primary img,
   .about-secondary img {
       box-shadow: 0px 0px .7px .8px;
       border-radius: 8px;
    }


   .about-primary {
   	   float: left;
   	   padding-right: 8px;
   }
   .about-secondary {
   	  float: right;
   	  padding-left: 6px;
   }


	.head-wrapper,.wrapper {
		width: 80%;
		margin: auto;
	}

	/*colums lay outs*/
	.col {
		width: 50%;
	}
	.col-1 {
		 float: left;
	}
	.col-2 {
		float: right;
	}
	.col-3 {
		float: right;
		
		width: 100%;
	}
	.col-2 p {
		padding-left: 20px;
	}
	/*contact page*/
	.contact-details {
		background: #444;
		padding: 15px 0;
		text-align: center;
		font-size: 1.4em;
		width: 100%;
	}
	.form,.map-wrapper {
		width: 60%;
		margin: auto;
	}
    
     .head-wrapper {
		display: table;
	}

	.logo-container,nav {
		display: table-cell;
		vertical-align: middle;
	}
	nav li {
		display: inline-block;
		background: initial;
		padding-left: 10px;
	}
	nav li a {
		color: white;
	}
	nav {
		text-align: right;
	}
	header {
		background: #333;
	}
	.logo {
		/*font-size: 2em;*/
		color: white;
	}
}

@media (min-width: 992px) {
	
	  .col {
	  	 width: 33.333%;
         float: right;
	  }
	  .sub-container {
	  	 width: 90%;
	  	 margin: auto;
	  }
    .head-wrapper,.wrapper {
    	max-width: 1200px;
    }
	
}
